@page "/"

<PageTitle>Index</PageTitle>

<header class="hero">
    <div class="container">
        <h1 class="primary-title">The easy approach to marketing</h1>
        <p class="p-title">Let us leverage open source community to improve the <b>visibility</b> of our products</p>
        <div class="item" style="margin-top:70px;">
             <img class="special" src="img/icon.png" style="float: right;"/>
               <p class="icon-text">Don't be shy, give ShyMarketer a try!</p>
          @*    <span class="caption">Don't be shy, give us a try!</span*@
        </div>
      
        
  @*      <a class="form-control btn btn-primary" href="/download">Download</a>*@
       @* <a href="#" class="btn">Show me</a>*@
       @* <a class="form-control btn btn-primary" href="/download">Download</a>*@
    </div>
</header>

<div class="container container-cards">
    <div class="card" >
        <div class="imgBx">
            <img src="img/outlook computer.jpg" />
        </div>
        <div class="content">
            <h2>Step 1.</h2>
            <p><a class="link-primary"   href="/download">Download</a> and install Shy Marketer Outlook add-in.It is easy to install and simple to use</p>
          @*   <a class="form-control btn btn-primary" style="padding-top:20px;"  href="/download">Download</a>*@
        </div>
    </div>
      <div class="card">
        <div class="imgBx">
            <img src="img/step2.jpg" style="  object-fit: cover;"/>
        </div>
        <div class="content">
            <h2>Step 2.</h2>
            <p>When you are ready for market, simply use the add-in to compose an email to your target audience.</p>
        </div>
    </div>
      <div class="card">
        <div class="imgBx">
            <img src="img/Step3.jpg" />
        </div>
        <div class="content">
            <h2>Step 3.</h2>
            <p>To get you gotta give...View other developer's products and then your product is shared with ShyMarketer community!</p>
        </div>
    </div>
</div>

<div class="container question" style="margin-bottom:10px;" >
       <Collapsable Title="What's the main idea?" Collapsed="true" Value="" >
           The main idea behind this project is to enable developers and startups access to the customers and investors and to
           improve cooperation between small companies. We choose Outlook because it is widely used as business mailing agent
           and because it offers great possibilities for developers to integrate new solutions and ideas.
       </Collapsable>
</div>
<div class="container question" style="margin-bottom:10px;">
       <Collapsable Title="How do I use it?" Collapsed="true" Value="">
           To use ShyMarketer, first you need to download the addin and install it in Outlook. This will only take a minute and
           then you are ready and set to start marketing. Just click the addin button, fill up the data about your company and product
           and in a matter of minutes you are already marketing your ideas!
       </Collapsable>
</div
<div class="container question" style="margin-bottom:10px;" >
       <Collapsable Title="Do I have to send any emails?" Collapsed="true" Value="">
           No emails are being sent while using ShyMarketer addin. All the data about your product and company that you supplied to the addin
           is instead displayed as an article on the ShyMarketer server, and is ready to be viewed by other developers and startups
           once they are ready to share their products with the community.
       </Collapsable>
</div
<div class="container question" style="margin-bottom:10px;" >
       <Collapsable Title="How many times will my ad be displayed?" Collapsed="true" Value="">
           We will be displaying ads in the chronological fashion - first one in first one out. Ofcourse, the 
           bigger the community gets the more times your ad will be displayed. Also your target sector has an impact. You can also share links to your article
           on social media websites to help marketing yourself. In the future we might come up with even better ideas on how to improve
           your product's marketing!
       </Collapsable>
</div


<footer class="footer">
    <div class="container">
        <div class="row">
            <div class="footer-col">
                <h4>Company</h4>
                <ul>
                    <li><a href="#">about us</a></li>
                     <li><a href="#">privacy policy</a></li>
                     <li><a href="#">other products</a></li>
                </ul>
            </div>
             <div class="footer-col">
                <h4>Get help</h4>
                <ul>
                    <li><a href="#">FAQ</a></li>
                    <li><a href="#">Payment</a></li>
                </ul>
            </div>
             <div class="footer-col">
                <h4>Follow us</h4>
                <div class="social-links">
                    <a href="#"><i class="fab fa-facebook-f"></i></a>
                    <a href="#"><i class="fab fa-twitter"></i></a>
                    <a href="#"><i class="fab fa-instagram"></i></a>
                    <a href="#"><i class="fab fa-linkedin-in"></i></a>
                </div>
            </div>

        </div>
    </div>
</footer>
<style>
    .question:hover{
        cursor: pointer;
    }
     
</style>