@page "/"

<PageTitle>Index</PageTitle>

<header class="hero">
    <div class="container">
        <h1 class="primary-title">The easy approach to marketing</h1>
        <p class="p-title">Let us leverage open source community to improve the visibility of our products</p>
        <a href="#" class="btn">Show me</a>
    </div>
</header>

<div class="container container-cards">
    <div class="card">
        <div class="imgBx">
            <img src="img/outlook computer.jpg" />
        </div>
        <div class="content">
            <h2>Step 1.</h2>
            <p>Download and install Shy Marketer Outlook add-in.</p>
             <p>It is easy to install and simple to use.</p>
        </div>
    </div>
      <div class="card">
        <div class="imgBx">
            <img src="img/outlook computer.jpg" />
        </div>
        <div class="content">
            <h2>Step 2.</h2>
            <p>When you are ready for market, simply use the add-in to compose an email to your target audience.</p>
        </div>
    </div>
      <div class="card">
        <div class="imgBx">
            <img src="img/outlook computer.jpg" />
        </div>
        <div class="content">
            <h2>Step 3.</h2>
            <p>To get you gotta give...View other developer's products and then your product is shared with ShyMarketer community!</p>
        </div>
    </div>
</div>

<footer class="footer">
    <div class="container">
        <div class="row">
            <div class="footer-col">
                <h4>Company</h4>
                <ul>
                    <li><a href="#">about us</a></li>
                     <li><a href="#">privacy policy</a></li>
                     <li><a href="#">other products</a></li>
                </ul>
            </div>
             <div class="footer-col">
                <h4>Get help</h4>
                <ul>
                    <li><a href="#">FAQ</a></li>
                    <li><a href="#">Payment</a></li>
                </ul>
            </div>
             <div class="footer-col">
                <h4>Follow us</h4>
                <div class="social-links">
                    <a href="#"><i class="fab fa-facebook-f"></i></a>
                    <a href="#"><i class="fab fa-twitter"></i></a>
                    <a href="#"><i class="fab fa-instagram"></i></a>
                    <a href="#"><i class="fab fa-linkedin-in"></i></a>
                </div>
            </div>

        </div>
    </div>
</footer>
